{
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended"
  ],
  "env": {
    "node": true,
    "mocha": true,
    "es6": true
  },
  "rules": {
    "consistent-return": 0,
    "no-return-assign": 0,
    "no-use-before-define": [
      2,
      "nofunc"
    ],
    "curly": [
      2,
      "multi-line"
    ]
  }
}
