{
  "extends": "eslint:recommended",
  "env": {
    "node": true,
    "mocha": true
  },
  "rules": {
    "consistent-return": 0,
    "no-return-assign": 0,
    "key-spacing": 0,
    "no-multi-spaces": 0,
    "no-use-before-define": [
      2,
      "nofunc"
    ],
    "curly": [
      2,
      "multi-line"
    ],
    "quotes": [
      2,
      "single"
    ]
  }
}
